{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from 'utils.html' import form_errors %}

{% block title %}
    Шифр Цезаря – {{ super() }}
{% endblock %}

{% block page_content %}
    <div class="row mt-3 mb-2">
        <div class="col">
            <h1 class="h3 font-weight-bold">Шифр Цезаря</h1>

            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form_errors(form) }}

                {{ wtf.form_field(form.text) }}
                {{ wtf.form_field(form.rot) }}
                <div class="form-group">
                    {{ wtf.form_field(form.mode, form_type='inline') }}
                </div>

                <button type="submit" class="btn btn-sm btn-outline-dark">Погнале!</button>
            </form>
        </div>
        {% if result %}
            <div class="col-4 border-left">
                <h3> Результат</h3>
                <p>«{{ form.text.data }}» → «{{ result }}»</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
