{% extends "bootstrap/base.html" %}

{% block title %}Web Ciphers{% endblock %}

{% block styles %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon_black.png') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <style>
        * {
            font-family: 'PT Sans' !important;
        }
    </style>
{% endblock %}

{% block html_attribs %} class="h-100"{% endblock %}
{% block body_attribs %} class="d-flex flex-column h-100"{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            {% include 'navbar.html' %}
        </div>
    </div>
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Влад Пастушенко © 2019</span>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}