{% extends "base.html" %}


{% block page_content %}
    <div class="row mt-3 mb-4">
        <div class="col">
            <h1 class="h3"><b>Web Ciphers</b> – некоторые методы шифрования онлайн.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-dark btn-lg btn-block py-5" href="{{ url_for('main.caesar') }}" role="button">
                Шифр Цезаря
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-dark btn-lg btn-block py-5" href="{{ url_for('main.rot13') }}" role="button">
                Шифр ROT13
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-dark btn-lg btn-block py-5" href="{{ url_for('main.vigenere') }}" role="button">
                Шифр Вижeнера
            </a>
        </div>
        <div class="col">
            <a class="btn btn-outline-dark btn-lg btn-block py-5" href="{{ url_for('main.substitution') }}" role="button">
                Шифр простой замены
            </a>
        </div>
    </div>
{% endblock %}
