<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand font-weight-light" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='icon_white.png') }}" width="30" height="30"
                 class="d-inline-block align-top mx-1" alt="">
            Web Ciphers
        </a>
    </div>
</nav>