{% macro form_errors(form) %}
    {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="alert alert-danger " role="alert">
                <b>{{ form[field].label.text }}:</b> {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
{% endmacro %}